<%- include('templates/head', {page_title: 'Panel administracyjny' }) %>
    <%- include('templates/nav', {url: url, cart_item_count}) %>

        <body>
            <div class="body-wrap">
                <h2 class="title"> Panel administracyjny </h2>
                <div class=" admin-buttons">
                    <form action="/account">
                        <button class="logout-btn"> Widok konta </button>
                    </form>
                    <form action="/products/add">
                        <button class="logout-btn"> Dodaj produkt </button>
                    </form>
                    <form method="POST">
                        <button class="logout-btn"> Wyloguj </button>
                    </form>
                </div>
                <div class="account-container">
                    <h2> Zamówienia: </h2>
                    <% orders.forEach( order=> { %>
                        <div class="order">
                            <div class="order-id">
                                #<%= order.id %>
                            </div>
                            <div class="order-products">
                                <% order.products.forEach( product=> { %>
                                    <div class="order-product">
                                        <p>
                                            <%= product.name %>
                                        </p>
                                        <p>
                                            x<%= product.qt %>
                                        </p>
                                        <p>
                                            <%= product.price * product.qt %>zł
                                        </p>
                                    </div>
                                    <%}) %>
                                        <p class="order-total">
                                            <%= order.totalCost %> zł
                                        </p>
                            </div>
                            <div class="order-user">
                                Użytkownik #<%= order.user_id %>
                            </div>
                        </div>

                        <% }); %>

                </div>
                <div class="account-container">
                    <h2> Użytkownicy: </h2>
                    <% users.forEach( user=> { %>
                        <div class="order">
                            <div class="order-id">
                                #<%= user.id %>
                            </div>
                            <div class="order-products">
                                <%= user.name %>
                            </div>
                            <div class="order-user">
                                <% if (user.role=="Admin" ) { %>
                                    Administrator
                                    <%} %>
                            </div>
                        </div>

                        <% }); %>
                </div>

        </body>

        </html>