<%- include('templates/head') %>
    <!--<%- include('templates/nav') %>-->
    <nav class="navbar">
        <div class="nav-left">
            <div class="nav-element">
                <h2 class="nav-h">
                    <a href="/"> SKLEP </a>
                </h2>
            </div>
        </div>
        <div class="nav-mid">
            <div class="nav-element">

                <h2 class="nav-h">
                    <a href="/"> Produkty </a>
                </h2>

            </div>
            <div class="nav-element">

                <h2 class="nav-h">
                    <a href="/"> Szukaj </a>
                </h2>

            </div>
        </div>
        <div class="nav-right">
            <% if ( locals.user ) { %>
                <div class="nav-element">
                    <div id='cart'>
                        <h2 class="nav-h" id="active">
                            <a href="/cart"> Koszyk </a>
                        </h2>
                    </div>

                </div>
                <div class="nav-element">
                    <h2 class="nav-h">
                        <a href="/logged"> Konto </a>
                    </h2>
                </div>
                <% } else {%>

                    <div class="nav-element">
                        <h2 class="nav-h">
                            <a href="/login"> Logowanie </a>
                        </h2>
                    </div>
                    <% } %>
        </div>
    </nav>

    <body>
        <div class="body-wrap">
            <h2 class="title">
                Zawartość koszyka
            </h2>
            <div class="cart-container">
                <% products.forEach( product=> { %>
                    <div class="cart-item">
                        <a class="cart-image" href="/products/<%= product.id %>">
                            <img src='<%= product.img_url %>' alt=<%=product.name %> >
                        </a>
                        <div class="cart-info">
                            <h2>
                                <a href="/products/<%= product.id %>">
                                    <%= product.name %>
                                </a>
                            </h2>
                            <div class="product-price">
                                <%= product.price %>zł
                            </div>
                            <div class="cart-remove">
                                <form method="POST">
                                    <button class="cart-remove" name="remove_button_id" value='<%= product.id %>'> Usuń </button>
                                </form>
                            </div>
                        </div>
                        <div class="cart-info">
                            <div class="cart-quantity">
                                Ilość: <%= product.qt %>
                            </div>
                            <div class="cart-total">
                                Razem: <%= product.price * product.qt %>zł
                            </div>

                        </div>
                    </div>
                    <% }); %>
                        <div class="cart-checkout">
                            <h2> <%= locals.sum %>zł </h2>
                            <form method="POST">
                                <button class="checkout-btn"> Zamów </button>
                            </form>
                        </div>
            </div>
        </div>
    </body>

    </html>