<%- include('templates/head') %>
    <!--<%- include('templates/nav') %>-->
    <nav class="navbar">
        <div class="nav-left">
            <div class="nav-element">
                <h2 class="nav-h">
                    <a href="/"> SKLEP </a>
                </h2>
            </div>
        </div>
        <div class="nav-mid">
            <div class="nav-element">

                <h2 class="nav-h" id="active">
                    <a href="/"> Produkty </a>
                </h2>

            </div>
            <div class="nav-element">

                <h2 class="nav-h">
                    <a href="/search"> Szukaj </a>
                </h2>

            </div>
        </div>
        <div class="nav-right">
            <% if ( locals.user ) { %>
                <div class="nav-element">
                    <div id='cart'>
                        <h2 class="nav-h">
                            <a href="/cart"> Koszyk </a>
                        </h2>
                    </div>

                </div>
                <div class="nav-element">
                    <h2 class="nav-h">
                        <a href="/logged"> Konto </a>
                    </h2>
                </div>
                <% } else {%>

                    <div class="nav-element">
                        <h2 class="nav-h">
                            <a href="/login"> Logowanie </a>
                        </h2>
                    </div>
                    <% } %>
        </div>
    </nav>

    <body>
        <div class="body-wrap">
            <div class="container">
                <% products.forEach( product=> { %>
                    <div class="product">
                        <a class="product-image" href="/products/<%= product.id %>">
                            <img src='<%= product.img_url %>' alt=<%=product.name %> >
                        </a>
                        <div class="product-label">
                            <h2 class="product-name">
                                <a href="/products/<%= product.id %>">
                                    <%= product.name %>
                                </a>
                            </h2>
                            <div class="product-price">
                                <p>
                                    <%= product.price %>zł
                                </p>
                            </div>
                            <div class="product-button area">
                                <form method="POST">
                                    <button class="cart-btn" name="button_id" value='<%= product.id %>' type="submit">Do koszyka</button>
                                    <!-- <button class="cart-btn" id='<%= product.id %>'> Do koszyka </button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </body>

    </html>