<%- include('templates/head') %>
    <%- include('templates/nav', {url: url, cart_item_count}) %>


        <body>
            <div class="body-wrap">
                <div class="container">
                    <% products.forEach( product=> { %>
                        <div class="product">
                            <a class="product-image" href="/products/<%= product.id %>">
                                <img src='<%= product.img_url %>' alt=<%=product.name %> >
                            </a>
                            <div class="product-label">
                                <h2 class="product-name">
                                    <a href="/products/<%= product.id %>">
                                        <%= product.name %>
                                    </a>
                                </h2>
                                <div class="product-price">
                                    <p>
                                        <%= product.price %>zł
                                    </p>
                                </div>
                                <div class="product-button area">
                                    <form method="POST">
                                        <button class="cart-btn" name="button_id" value='<%= product.id %>'
                                            type="submit">Do koszyka</button>
                                        <!-- <button class="cart-btn" id='<%= product.id %>'> Do koszyka </button> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </body>

        </html>