<!-- added.ejs -->
<%- include('templates/head') %>

    <body>
        <div class="body-wrap">

            <div> <img src='<%= product.img_url %>' alt=<%=product.name %> ></div>
            <div>
                <%= product.name %>
            </div>
            <div>
                <%= product.price %>
            </div>
            <div>
                <%= product.description %>
            </div>
        </div>
    </body>