<%- include('templates/head', {page_title: 'Szukaj' }) %>
    <%- include('templates/nav', {url: url, cart_item_count}) %>

        <script type="text/javascript">
            function btnActivation() {
                if (!document.getElementById("search-bar").value.length) {
                    document.getElementById("search-btn").disabled = true;
                } else {
                    document.getElementById("search-btn").disabled = false;
                }
            }  
        </script>

        <body>
            <div class="search-bar-container">
                <form method="GET">
                    <div class="search-bar">
                        <input type='text' id="search-bar" placeholder="Szukaj w sklepie..." name="query"
                            onkeyup="btnActivation()" />
                        <button id="search-btn" disabled> Szukaj </button>

                    </div>
                </form>
            </div>
            <% if ( locals.products && products.length ) { %>
                <div class="body-wrap">
                    <h2 class="search-title">
                        Produkty pasujące do "<%= query %>":
                    </h2>
                    <div class="container">
                        <% products.forEach( product=> { %>
                            <div class="product">
                                <a class="product-image" href="/products/<%= product.id %>">
                                    <img src='<%= product.img_url %>' alt=<%=product.name %> >
                                </a>
                                <div class="product-label">
                                    <h2 class="product-name">
                                        <a href="/products/<%= product.id %>">
                                            <%= product.name %>
                                        </a>
                                    </h2>
                                    <div class="product-price">
                                        <p>
                                            <%= product.price %>zł
                                        </p>
                                    </div>
                                    <div class="product-button area">
                                        <% if (locals.user) { %>
                                            <form method="POST" action="/">
                                                <button class="cart-btn" value='<%= product.id %>' name="button_id"> Do koszyka
                                                </button>
                                            </form>
                                        <% } else { %>
                                            <form method="POST" action="/annonymous">
                                                <button class="cart-btn" value='<%= product.id %>' name="button_id"> Do koszyka
                                                </button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <% } else if (locals.query) { %>
                    <div class="body-wrap">
                        <h2 class="title">
                            Nie znaleziono produktów dla "<%= query %>" :(
                        </h2>
                        <% } %>
        </body>

        </html>